<%- include("partials/header"); %>
<h1>Home</h1>

<p><%= startingContent %></p>

<% for( let index = 0; index < posts.length; index++ ) { %>
<div class="post">
  <h2><%= posts[index].title %></h2>
  <p><%= posts[index].content %></p>
</div>
<% } %> <%- include("partials/footer"); %>
